<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Twitch Controller</title>
        <script src="/javascripts/remote_control/remoteControl.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/stylesheets/remote_control/style.css" type="text/css">
    </head>
    <body>
        <header>
            <h1>TTV Remote Control</h1>
            <a href="/login" id="login">Login with twitch</a>
        </header>
        <button id="play-pause" onclick="sendPost('/send_action', 'PAUSE')">Play/Pause</button>
    </body>
</html>